<p id="notice">
    <%= notice %>
</p>
<h1>Mappings</h1>
<br/>
<div class="input-group mb-3">
    <input type="text" id="controlInput" class="form-control" placeholder="Enter Control To Map" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="generateMappings">Generate Mappings</button>
    </div>
</div>
<div id="mappings">
</div>
<script>
$(document).on("click", ".swal2-container input[name='swal2-radio']", function() {
    var id = $('input[name=swal2-radio]:checked').val();
    //console.log('id: ' + id);
});
$('#generateMappings').click(function() {
    $('#mappings').html("")
    //console.log("Button clicked")
    var control = $('#controlInput').val()
    var inputOptions = ["All Mappings"]
    $.ajax({
        type: "GET",
        url: "controls",
        dataType: "json",
        success: function(result) {
            result.forEach(function(entry) {
                //console.log(entry);
                inputOptions.push(entry.title)
            });
            swal({
                title: 'Which mappings would you like?',
                input: 'radio',
                inputOptions: inputOptions,
                inputValidator: function(result) {
                    return new Promise(function(resolve, reject) {
                        if (result) {
                            resolve();
                        } else {
                            reject('You need to select something!');
                        }
                    });
                }
            }).then(function(result) {
                //console.log(result)
                // swal({
                //     type: 'success',
                //     html: 'You selected: ' + control + ' to ' + inputOptions[result.value]
                // });
                getMappings(control, inputOptions[result.value])
            })
        }
    })
});

function getMappings(controlID, mapping) {
    //console.log(controlID + " " + mapping)
    if (mapping == "All Mappings") {
        swal("Feature is being worked on currently")
        return;
    } else if (mapping == "800-53 NIST Controls") {
        console.log("converting IA TO NIST")
        var id = controlID
        $.ajax({
            type: "GET",
            url: "iacontrols/convertToNIST",
            dataType: "json",
            data: { id },
            success: function(result) {
                //alert(result);
                //console.log(result[0])
                populateDiv(controlID, result[0], "NIST")
            }
        });
    } else if (mapping == "8500.2 IA Controls") {
        console.log("convering NIST TO IA")
        var id = controlID
        $.ajax({
            type: "GET",
            url: "nistcontrols/convertToIA",
            dataType: "json",
            data: { id },
            success: function(result) {
                //alert(result);
                //console.log(result)
                populateDiv(controlID, result, "IA")
            }
        });
    }
}

function populateDiv(originalControl, result, mapTo) {
    if (result == null || result.length == 0) {
        swal({
            type: 'error',
            title: 'Oops...',
            text: 'No ' + mapTo + ' mappings exist for ' + originalControl,
        })
    } else if (mapTo == "NIST") {
        mappingArray = result.nistcontrolnumber.split(", ")
        divHTML = result.number + " maps to the following " + mapTo + " controls:" + '<ul>'
        mappingArray.forEach(function(entry) {
            //console.log(entry);
            id = entry
            $.ajax({
                type: "GET",
                url: "nistcontrols/convertNumberToID",
                dataType: "json",
                data: { id },
                success: function(result) {
                    //alert(result);
                    //console.log(result[0].id)
                    divHTML += '<li><a href="/nistcontrols/' + result[0].id + '">' + entry + '</a></li>'
                    //console.log(divHTML)
                    populateMappings(divHTML)
                }
            });
        });
    } else if (mapTo == "IA") {
        //console.log(result)
        divHTML = originalControl + " maps to the following " + mapTo + " controls:" + '<ul>'
        result.forEach(function(entry) {
            divHTML += '<li><a href="/iacontrols/' + entry.id + '">' + entry.number + '</a></li>'
        })
        populateMappings(divHTML)
    }
}

function populateMappings(html) {
    console.log(html + '</ul>')
    $('#mappings').html(html + '</ul>')
}
</script>
<br>
<// link_to 'New Mapping', new_mapping_path %>